@import "tailwindcss";

:root {
  --background: linear-gradient(
    #060719 0%,
    #1a082f 29%,
    #27093d 49%,
    #170758 81%,
    #1c0dc3 100%
  );
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inria-Serif, Inter;
}
